<turbo-frame id="tasks_frame">
  <div class="edit-task-container">
    <div class="form-style">
      <div class="close-button-container">
        <p>Edit task</p>
        <%= link_to "<i class='bx bx-x'></i>".html_safe, tasks_path, class: "back" %>
      </div>
      <h1 class="task-title">Edit Task</h1>
      <div class="sidebar-divider"></div>
      <%= render 'form' %>  
    </div>
  </div>
</turbo-frame>