<turbo-frame id="tasks_frame">
    <div class="task-container">
        <h1 class="task-title">Tasks</h1>
        <p class="task-description">Manage your tasks efficiently</p>
        <div class="create">
            <button><i class='bx bx-plus-medical'></i> Create</button>
        </div>
    </div>
</turbo-frame>
